.success-cont {
  background: #1b3358;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  a {
    text-decoration: none;
  }

  h1 {
    color: #f5efd7;
    font-weight: 300;
    font-size: 40px;
    margin-top: -5vh;
  }

  hr {
    width: 600px;
    margin-bottom: 2.5rem;
  }

  .btns {
    display: flex;
    gap: 50px;

    .btn {
        background: #f5efd74a;
        padding: 15px;
        border-radius: 8px;
        cursor: pointer;
        color: #f5efd7;
        transition: all 1s;
        width: 200px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 600;
      }
    
      .btn:hover {
        background: #f5efd717;
      }
  }

  .message-cont {
    display: flex;
    background: #7fce8b;
    width: 400px;
    height: 60px;
    justify-content: flex-start;
    flex-direction: row;
    border-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
    align-items: center;
    gap: 10px;
    color: #398044;
    position: absolute;
    font-weight: 600;
    top: -50vh;
    transition: all 2s;

    img {
      width: 30px;
      margin-top: 5px;
    }

    div {
      text-align: initial;
    }

    .close {
      background: #398044;
      color: #7fce8b;
      position: absolute;
      height: 100%;
      right: 0;
      width: 50px;
      border-bottom-right-radius: 8px;
      border-top-right-radius: 8px;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      font-size: 30px;
      line-height: 50px;
      cursor: pointer;

      div {
        transform: scaleX(1.3);
        font-weight: 300;
      }
    }
  }
}
